<%= turbo_frame_tag espresso do %>
  <%= bootstrap_form_with(model: espresso) do |form| %>

    <div class="row py-2 border-top">
      <div class="col-4">
        <%= form.text_field :name,
                            skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
        %>
      </div>
      <div class="col-4">
        <%= form.text_field :description,
                            skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
        %>
      </div>

      <div class="col-4">
        <div class="d-flex justify-content-end">
          <%= form.primary class: "btn btn-primary btn-sm me-2" %>
          <%= link_to "キャンセル", espresso, class: "btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
    </div>

  <% end %>
<% end %>