<p style="color: green"><%= notice %></p>

<%= render @espresso %>

<div>
  <%= link_to "Edit this espresso", edit_espresso_path(@espresso) %> |
  <%= link_to "Back to espressos", espressos_path %>

  <%= button_to "Destroy this espresso", @espresso, method: :delete %>
</div>
