<div id="<%= dom_id @coffee %>">
  <p>
    <strong>名前:</strong>
    <%= @coffee.name %>
  </p>

  <p>
    <strong>説明:</strong>
    <%= @coffee.description %>
  </p>
</div>

<div>
  <%= link_to "編集", edit_coffee_path(@coffee) %> |
  <%= link_to "戻る", coffees_path %>
  <%= button_to "削除", @coffee, method: :delete %>
</div>